<form-login>
    <h2>Students</h2>
    <hr />
    <google-login-container>
        <google-login-button>Log in as a Student or Teacher</google-login-button>
    </google-login-container>

    <h2>Parents</h2>
    <hr />
    <canvas-login-container>
        <canvas-login-input-email placeholder="Email"></canvas-login-input-email>
        <canvas-login-input-password></canvas-login-input-password>
        <canvas-login-button>Log in as a Parent</canvas-login-button>
    </canvas-login-container>
</form-login>